<%- include('../partials/header') %>

<main class="main" id="main">
    <div>
        <% data.forEach(movie =>
        { %>
            <figure>
                <!-- this gets the poster link in the api -->
                <img src= "<%= movie.posterURL %>" alt="poster for <%= movie.title %>">
                <!-- this gets the title in the api -->
                <figcaption>
                    <!-- this adds a link to the movie's title, making it clickable -->
                    <a href="/<%= endpoint %>/<%= movie.id %>">
                        <%= movie.title %></a>
                    </figcaption>
            </figure>
        <% }) %>
    </div>
</main>


<%- include('../partials/footer') %>