<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <figure>
            <img src="<%= img %>" alt="poster for <%= name %>">
            <figcaption><%= name %></figcaption>
        </figure>
    </div>
</main>

<%- include('../partials/footer') %>